#
#    agent-outage - Agent that sends alerts when device does not communicate.
#
#    Copyright (C) 2014 - 2015 Eaton                                        
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         agent-outage
Section:        net
Priority:       optional
Maintainer:     agent-outage Developers <bios@eaton.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
    pkg-config,
    dh-autoreconf,
    libzmq4-dev,
    libczmq-dev,
    libmlm-dev,
    libbiosproto-dev,
    dh-autoreconf,
    systemd,
    dh-systemd

Package: libagent-outage0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent-outage
 This package contains shared library for agent-outage: agent that sends alerts when device does not communicate.

Package: libagent-outage-dev
Architecture: any
Section: libdevel
Depends:
    libzmq5-dev,
    libczmq-dev,
    libmlm-dev,
    libbiosproto-dev,
    libagent-outage0 (= ${binary:Version})
Description: development files for agent-outage
 This package contains development files for agent-outage: agent that sends alerts when device does not communicate.

Package: agent-outage
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: agent that sends alerts when device does not communicate.
 Main package for agent-outage: agent that sends alerts when device does not communicate.

Package: agent-outage-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    agent-outage (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for agent-outage
 This package contains the debugging symbols for agent-outage : agent that sends alerts when device does not communicate..

